:root {
  --offwhite: rgba(248, 248, 248, 1);
  --offblack: rgba(10, 10, 10, 0.9);
}
html {
  scroll-snap-type: y mandatory;
}
body {
  background-color: black;
  margin: 0px;
  padding: 0px;
}
#main {
  font-family: serif;
}
.white-text {
  color: var(--offwhite);
}

#display1 {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  width: 100%;
  height: 100%;
  position: relative;
  right: 2px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}
#hero-image {
  -webkit-mask-image: -webkit-linear-gradient(
    125deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 1)
  );
  background: linear-gradient(125deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url("board.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 100%;
  filter: brightness(1) contrast(110%);
  z-index: -1;
}
h1 {
  font-weight: 100;
  font-size: 5em;
  transform: translateY(-50%);
  margin-bottom: 0px;
}

h2 {
  font-weight: 100;
  padding: 0px;
  margin: 0px;
  font-size: 2em;
  transform: translateY(-50%);
  float: right;
}
header canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.display2 {
  scroll-snap-align: start;
  background-color: var(--offwhite);
  width: 100%;
  height: 100vh;
  color: rgba(15, 15, 15, 0.85);
}
.display2 img {
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  filter: contrast(110%);
}
.display2 article {
  float: right;
  font-size: 2.2em;
  width: 50%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 5%;
  margin-right: 5%;
  color: rgba(20, 20, 20, 1);
}
.display2 article strong {
  font-size: 2em;
  font-weight: 500;
}
.highlight-text {
  font-size: 1.2em;
  font-weight: 600;
}
.display3 {
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;

  color: var(--offblack);
  background-color: var(--offwhite);
}
footer {
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
  color: var(--offwhite);
  background-color: var(--offblack);
}
#quote-container {
  position: relative;
  width: 70%;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
}
#hero-quote {
  text-align: center;
  font-size: 3em;
  font-weight: 100;
}
#quote-citation {
  float: right;
}
#quote-citation a {
  color: var(--offwhite);
  font-size: 2.3em;
  font-style: italic;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 3px solid lightblue;
}
#quote-citation a:hover {
  font-size: 2.4em;
  border-bottom-color: red;
  border-bottom-width: 3px;
}
