:root {
  --offwhite: rgba(248, 248, 248, 1);
  --offblack: rgba(10, 10, 10, 0.9);
}
html {
  scroll-snap-type: y proximity;
  height: 100%;
}
body {
  background-color: black;
  margin: 0px;
  padding: 0px;
  height: 100%;
}
#main {
  font-family: "Times New Roman", Times, serif;
  height: 100%;
}

header {
  color: var(--offwhite);

  scroll-snap-align: start;
  width: 100%;
  height: 100%;
  position: relative;
  right: 2px;
}

.hero-text {
  text-align: right;
  position: absolute;
  right: 0%;
  bottom: 20%;
  opacity: 0%;
  margin-right: 4%;
  animation: hero-text-in 1s 1.5s forwards;
}
@keyframes hero-text-in {
  100% {
    opacity: 100%;
  }
}

#hero-image {
  -webkit-mask-image: -webkit-linear-gradient(
    125deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 1)
  );
  background: linear-gradient(125deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("board.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 100%;
  filter: contrast(110%);
  z-index: -1;
}
header h1 {
  font-weight: 100;
  font-size: 5em;
  margin-bottom: 15px;
  padding: 0px;
}

header h2 {
  font-weight: 100;
  font-size: 2em;
  padding: 0px;
  margin-top: 0px;
}
header canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0%;
  animation: canvas-in 1.2s 0.75s;
  animation-fill-mode: forwards;
}
@keyframes canvas-in {
  100% {
    opacity: 100%;
  }
}

.content {
  background-color: var(--offwhite);
  width: 100%;
  color: rgba(15, 15, 15, 0.95);
}
.info {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100vh;
  overflow: auto;
}
.info img {
  position: relative;
  top: 25vh;
  right: 10px;
  filter: contrast(110%);
  width: 39%;
  display: inline-block;
}
.info article {
  position: relative;
  top: 13vh;
  float: right;
  font-size: 2.2em;
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
  color: rgba(20, 20, 20, 0.9);
}
.highlight-text {
  color: rgba(10, 10, 10, 0.98);
  font-size: 1.2em;
  font-weight: 600;
}

.content h2 {
  font-weight: 100;
  margin: 0px;
  font-size: 5em;
  margin-bottom: 30px;
  margin-left: 50px;
}
.biography {
  width: 100%;
  padding-bottom: 150px;
}
.list-container {
  display: inline-block;
  width: 700px;
  margin-top: 40px;
  margin-left: 8%;
  padding-bottom: 100px;
}
.list-item {
  /* border: 1px blue solid; */
  /* border-left: solid 15px rgba(30, 30, 30, 0.9); */
  margin-top: 20px;
  padding-bottom: 70px;
  height: 120px;
  transition: all 200ms linear;
}
.bar {
  margin-right: 50px;
  height: 120px;
  width: 15px;
  background: rgba(30, 30, 30, 0.9);
  display: inline-block;
  vertical-align: middle;
  top: 0px;
  left: 0px;
}
.bar_highlight {
  background: red;
}

.year {
  transition: all 200ms;
  /* border: 1px solid black; */
  display: inline-block;
  line-height: 120px;
  vertical-align: middle;
  font-size: 2.7em;
}
.item-text {
  transition: all 200ms;
  margin-left: 15%;
  /* border: 1px solid black; */
  display: inline-block;
  font-size: 1.5em;
  text-align: center;
  vertical-align: middle;
  width: 300px;
}

/* .list-item.in-view {
  border-color: red;
  height: 150px;
}
.list-item.in-view .year {
  transform: scale(1.2);
}
.list-item.in-view .item-text {
  transform: scale(1.2);
} */

.articles-container {
  margin-top: -100px;
  position: sticky;
  top: 100px;
  float: right;
  width: 40%;
  margin-right: 8%;
}

.article-item {
  position: absolute;
  font-style: italic;
  top: 0px;
  left: 0px;
  color: rgba(20, 20, 20, 0);
  transition: all 200ms linear;
  font-size: 1.6em;
  text-indent: 40px;
}

.article-item.visiblee {
  color: rgba(20, 20, 20, 1);
  border-bottom: solid 1px black;
  border-top: solid 1px black;
}

footer {
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
  color: var(--offwhite);
  background-color: var(--offblack);
}
#quote-container {
  position: relative;
  width: 70%;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
#hero-quote {
  font-size: 3em;
  font-weight: 100;
  display: inline;
}
#quote-citation-container {
  position: relative;
  top: 20px;
  float: right;
  padding: 40px;
}

#quote-citation a {
  color: var(--offwhite);
  font-size: 2.3em;
  font-style: italic;
  text-decoration: none;
  padding-bottom: 1.5px;
  border-bottom: 3px solid lightblue;
}
#quote-citation a:hover {
  font-size: 2.4em;
  border-bottom-color: red;
  border-bottom-width: 3px;
}
#fake-carret {
  display: inline-block;
  margin-left: 0.15em;
  border: none;
  background-color: white;
  height: 2.4em;
  width: 4px;
  position: relative;
  top: 0.3em;
  animation: blinking 1s step-start infinite;
}
@keyframes blinking {
  50% {
    opacity: 0%;
  }
}
